/* iPhone 11 Pro Max - 3 */


position: relative;
width: 414px;
height: 896px;

background: #8CB8BE;


/* iPhone 11 Pro Max - 2 */


position: relative;
width: 414px;
height: 896px;

background: #8CB8BE;


/* iPhone 11 Pro Max - 4 */


position: relative;
width: 414px;
height: 896px;

background: #8CB8BE;


/* iPhone 11 Pro Max - 8 */


position: relative;
width: 414px;
height: 896px;

background: #8CB8BE;


/* iPhone 11 Pro Max - 9 */


position: relative;
width: 414px;
height: 896px;

background: #8CB8BE;


/* iPhone 11 Pro Max - 5 */


position: relative;
width: 414px;
height: 896px;

background: #8CB8BE;


/* iPhone 11 Pro Max - 6 */


position: relative;
width: 414px;
height: 896px;

background: #8CB8BE;


/* iPhone 11 Pro Max - 1 */


position: relative;
width: 414px;
height: 896px;

background: #FFFFFF;
